#### Converting a sqlite db to MySql database

In [ ]:
# Install a pymsql library on jupyter notebook
!pip install pymysql

In [12]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine

# Connect to SQLite
sqlite_db_path = 'store-g.db'  # Replace with your SQLite database file path
sqlite_conn = sqlite3.connect(sqlite_db_path)

# Connect to MySQL
mysql_username = 'root'  # Replace with your MySQL username
mysql_password = 'password'  # Replace with your MySQL password
mysql_host = 'localhost'          # Replace with your MySQL host
mysql_database = 'store_schema'  # Replace with your MySQL database name
mysql_engine = create_engine(f'mysql+pymysql://{mysql_username}:{mysql_password}@{mysql_host}/{mysql_database}')
# mysql_engine = create_engine(f'mysql+mysqlconnector://{mysql_username}:{mysql_password}@{mysql_host}/{mysql_database}')

# Read tables from SQLite and write to MySQL
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", sqlite_conn)
for table in tables['name']:
    df = pd.read_sql(f'SELECT * FROM {table};', sqlite_conn)
    df.to_sql(table, con=mysql_engine, if_exists='replace', index=False)

# Close the SQLite connection
sqlite_conn.close()

print("Data transferred from SQLite to MySQL successfully!")

Data transferred from SQLite to MySQL successfully!

In [14]:
import pymysql
print(pymysql.__version__)

1.4.6